<section class="about-section">
  <div class="about-header">
    <h2 class="about-title">О компании</h2>
    <div class="about-underline"></div>
  </div>

  <div class="about-container">
    <div class="about-content">
      <p class="about-text">
        Компания ТОО «UGC SOLUTIONS» была основана в 2019 году, с первых дней основным видом деятельности являлась
        дистрибуция Европейских заводов BASF, Master Builders Solutions, Sika, производителей химикатов для промышленных
        предприятий. С момента своего основания, наша компания зарекомендовала себя как надежный партнер для
        профессионалов в области строительства, предоставляя инновационные решения для различных секторов, включая
        строительство, промышленность и инфраструктуру.
        Швейцарский концерн «SIKA» — мировой лидер в области производства строительных химикатов и технологий,
        основанный в 1910 году.
      </p>
      <button class="about-button" onclick="window.location.href='/about.html'">
        <img src="/assets/arr.png" alt="→" class="about-button__icon" />
        Подробнее о нас
      </button>


    </div>
    <div class="about-image">
      <img src="/assets/about.png" alt="О компании" />
    </div>
  </div>
</section>