<section class="catalog-section">
  <h2 class="catalog-title">Каталог продукции</h2>
  <div class="catalog-grid">

    <a href="catalog.html?category=Материалы для подземного строительства" class="catalog-item catalog-item--image"
      style="background-image: url('/assets/podz.jpg');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/tools.png" class="catalog-icon" alt="">
      </div>
      <p>Материалы для подземного строительства</p>
      <span class="arrow">→</span>
    </a>

    <a href="catalog.html?category=Гидроизоляционные материалы" class="catalog-item catalog-item--image"
      style="background-image: url('/assets/gidro.jpg');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/drop.png" class="catalog-icon" alt="">
      </div>
      <p>Гидроизоляционные материалы</p>
      <span class="arrow">→</span>
    </a>

    <a href="catalog.html?category=Добавки для бетона" class="catalog-item catalog-item--image"
      style="background-image: url('/assets/catalog-bg.png');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/valve.png" class="catalog-icon" alt="">
      </div>
      <p>Добавки для бетона</p>
      <span class="arrow">→</span>
    </a>

    <a href="catalog.html?category=Ремонтные составы и гротинговые растворы" class="catalog-item catalog-item--image"
      style="background-image: url('/assets/grot.jpg');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/drop.png" class="catalog-icon" alt="">
      </div>
      <p>Ремонтные составы и гротинговые растворы</p>
      <span class="arrow">→</span>
    </a>

    <a href="delivery.html" class="catalog-item catalog-item--image" style="background-image: url('/assets/dost.jpg');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/truck.png" class="catalog-icon" alt="">
      </div>
      <p>Доставка материалов</p>
      <span class="arrow">→</span>
    </a>

    <a href="support.html" class="catalog-item catalog-item--image" style="background-image: url('/assets/sap.jpg');">
      <div class="catalog-icon-wrapper">
        <img src="/assets/supportt.png" class="catalog-icon" alt="">
      </div>
      <p>Техническая поддержка</p>
      <span class="arrow">→</span>
    </a>

  </div>
</section>