<footer class="footer-section">
    <h2 class="footer-title">Свяжитесь с <span>нами</span></h2>
    <p class="footer-subtitle">Заполните форму, и мы ответим вам в ближайшее время.</p>
  
    <div class="footer-container">
      <div class="footer-content">
        <form class="footer-form">
          <input type="text" placeholder="Ваше имя" required />
          <input type="email" placeholder="Ваш email" required />
          <textarea placeholder="Ваше сообщение" rows="4" required></textarea>
          <button type="submit">Отправить</button>
        </form>
  
        <div class="footer-map-info">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A8d06c2b0eae62a56e7c24b11557f8ef15a55a6cb6a4a208d3177e63d48f9f70f&amp;source=constructor"
            width="100%" height="200" frameborder="0"></iframe>
  
          <div class="footer-contact">
            <p><img src="/assets/location.png" /> г.Актобе, ул.Рыскулова 24
            </p>
            
          
              <a href="tel:+77013298515" class="footer-phone-link">
                <p>
                  <img src="/assets/phoneee.png" alt="Телефон" />
                  +7 (701) 329-85-15
                </p>
              </a>
            
            <p><img src="/assets/mail.png" /> sales.ugc.solutions@mail.ru</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  