<section class="hero-slider">
  <div class="hero-slide active">
    <div class="hero-inner">
      <div class="hero-left">
        <div class="hero-text">
          <h1>Строительная<br>химия</h1>
          <a href="#" class="hero-button">→ Перейти</a>
        </div>
      </div>
      <div class="hero-right" style="background-image: url('assets/slide1.png');"></div>
    </div>
  </div>

  <!-- другие слайды по такому же принципу -->
  <div class="hero-slide">
    <div class="hero-inner">
      <div class="hero-left">
        <div class="hero-text">
          <h1>Гидроизоляция<br>и добавки</h1>
          <a href="#" class="hero-button">→ Перейти</a>
        </div>
      </div>
      <div class="hero-right" style="background-image: url('assets/aaa.jpg');"></div>
    </div>
  </div>

  <div class="hero-slide">
    <div class="hero-inner">
      <div class="hero-left">
        <div class="hero-text">
          <h1>Подземное<br>строительство</h1>
          <a href="#" class="hero-button">→ Перейти</a>
        </div>
      </div>
      <div class="hero-right" style="background-image: url('assets/aaa2.jpg');"></div>
    </div>
  </div>

  <div class="hero-dots">
    <span class="dot active" data-index="0"></span>
    <span class="dot" data-index="1"></span>
    <span class="dot" data-index="2"></span>
  </div>
</section>
